
@{
    ViewBag.Title = "ViewComputerInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewComputerInformation</h2>
<h2 style="text-align:center;">This Computer Information</h2>
<style>
    table {
        width: 83%;
        border-collapse: collapse;
        margin: 30px auto;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #3498db;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
        font-size: 18px;
    }
</style>

<table>
    <tr>
        <th>Property Name</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>IP Address: </td>
        <td>@ViewBag.ipAddress</td>
    </tr>
    <tr>
        <td>Computer Name: </td>
        <td>@ViewBag.GetComputerName</td>
    </tr>
    <tr>
        <td>MAC Address: </td>
        <td>@ViewBag.GetMACAddress</td>
    </tr>
</table>

